spring:
  datasource:
    url: ${app.db.url}
    username: ${app.db.user}
    password: ${app.db.pass}
    driver-class-name: ${DB_DRIVER:org.postgresql.Driver}

  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: false
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    "[org.hibernate.SQL]": DEBUG
    "[org.springframework.jdbc.core]": DEBUG
